[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "lib/SDL2_ttf"]
	path = lib/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
